/*------------------------
	  第二階層モジュール
------------------------*/
html {
  background-color: rgb(255, 255, 255);
}

main.wh:before {
  background-color: rgba(167, 167, 167, 0.17);
}

.wh .kv_bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.wh .section:nth-of-type(even) {
	background-color: rgba(255, 255, 255, 0.5);
}

.wh .section:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.5);
}

.section_inner-wide {
  padding: 0;
  padding-left: 270px;
  margin: 0 auto;
  max-width: 100%;
}

.section_inner-wide > .title {
  font-family: 'GildaDisplay-Regular', serif;
  font-size: 45px;
  color: #0a3748;
  letter-spacing: 0.1em;
  text-align: right;
  padding-right: 70px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.arrowmore:before {
  position: absolute;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #ffffff;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
  .section_inner-wide > .title {
    font-size: 3.75vw;
    margin-top: 8.3vw;
    margin-bottom: 2.5vw;
  }
}

@media only screen and (min-width:800px) and (max-width:999px) {
  .section_inner-wide {
    padding-left: 0;
  }
}

@media only screen and (max-width:799px) {
  .section_inner-wide {
    padding-left: 0;
  }

  .section_inner-wide > .title {
    font-size: 7.4vw;
    padding-right: 5.3vw;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

/* eventbox */
.eventbox {
  width: 100%;
}

.eventbox .eventbox_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.eventbox .eventbox_item {
  position: relative;
  width: 25%;
  height: 330px;
}

.eventbox .eventbox_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.eventbox a.eventbox_link {
  opacity: 1;
}

.eventbox .eventbox_link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.25;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.eventbox .eventbox_more {
  opacity: 0;
  position: absolute;
  font-family: 'Robot-Regular', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.15em;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

.eventbox .eventbox_link:hover .eventbox_more {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.eventbox .eventbox_link:hover .overlay {
  opacity: 0.4;
}

.eventbox .eventbox_wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.eventbox .eventbox_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.05em;
  text-align: right;
}

.eventbox .eventbox_title:before {
  content: '';
  border-top: 1px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.eventbox .eventbox_item-news .eventbox_date {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 10px;
  color: #fff;
  text-align: left;
}

.eventbox .eventbox_item-event .eventbox_date {
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: left;
}

.eventbox .eventbox_text {
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: left;
}

.eventbox .eventbox_item-event .eventbox_text {
  margin-top: 15px;
}

.eventbox .eventbox_item-news .eventbox_text {
  margin-top: 10px;
}

.linkbox01 {
  width: 100%;
}

.linkbox01 .linkbox01_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linkbox01 .linkbox01_item {
  width: 50%;
  height: 120px;
}

.linkbox01 .linkbox01_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.linkbox01 .linkbox01_item:nth-child(odd) .linkbox01_link  {
  background-color: rgba(255, 255, 255, 0.5);
}

.linkbox01 .linkbox01_item:nth-child(even) .linkbox01_link {
  background-color: rgba(226, 226, 226, 0.1);
}

.linkbox01 .linkbox01_item .linkbox01_link.linkbox01_link-gray {
  position: relative;
  background-color: rgba(96, 96, 96, 0.05);
  border-right: 1px solid rgba(10, 52, 72, 0.07);
}

.linkbox01 .linkbox01_item:nth-child(2n) .linkbox01_link.linkbox01_link-gray {
  border-right: 0px;
}

.linkbox01 .linkbox01_title {
  display: inline-block;
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 23px;
  color: #000;
  margin-right: 20px;
}

.linkbox01 .linkbox01_text {
  position: relative;
  display: inline-block;
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  padding-left: 20px;
  border-left: 1px solid #000;
  width: 100%;
}

.linkbox01 .arrowmore:before {
  border-color: transparent transparent transparent #606060;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
  .eventbox .eventbox_item {
    height: 27.5vw;
  }

  .eventbox .eventbox_link {
    padding: 1.1vw;
  }

  .eventbox .eventbox_more {
    font-size: 1.1vw;
    width: 5.8vw;
    height: 1.6vw;
  }

  .eventbox .eventbox_title {
    font-size: 1.6vw;
  }

  .eventbox .eventbox_item-news .eventbox_date {
    font-size: 0.9vw;
  }

  .eventbox .eventbox_item-event .eventbox_date {
    font-size: 3.3vw;
  }

  .eventbox .eventbox_text {
    font-size: 1vw;
    line-height: 1.25vw;
  }

  .eventbox .eventbox_item-event .eventbox_text {
    margin-top: 1.25vw;
  }

  .linkbox01 .linkbox01_item {
    height: 10vw;
  }

  .linkbox01 .linkbox01_link {
    padding: 0 3.6vw;
  }

  .linkbox01 .linkbox01_title {
    font-size: 1.9vw;
    margin-right: 1.6vw;
  }

  .linkbox01 .linkbox01_text {
    font-size: 1.1vw;
    padding-left: 1.6vw;
    padding-right: 8.3vw;
  }
}


@media only screen and (max-width:799px) {
  .eventbox .eventbox_item {
    width: 50%;
    height: 270px;
  }

  .eventbox .eventbox_link {
    padding: 10px;
  }

  .eventbox .eventbox_more {
    display: none;
  }

  .eventbox .eventbox_title {
    font-size: 18px;
  }

  .eventbox .eventbox_item-news .eventbox_date {
    font-size: 11px;
  }

  .eventbox .eventbox_item-event .eventbox_date {
    font-size: 32px;
  }

  .eventbox .eventbox_text {
    font-size: 11px;
    line-height: 16px;
  }

  .linkbox01 .linkbox01_list {
    display: block;;
  }

  .linkbox01 .linkbox01_item {
    width: 100%;
    height: 100px;
  }

  .linkbox01 .linkbox01_link {
    padding: 0 30px;
  }

  .linkbox01 .linkbox01_title {
    font-size: 18px;
    color: #000;
    margin-right: 15px;
  }

  .linkbox01 .linkbox01_text {
    font-size: 12px;
    padding-left: 15px;
  }

  .linkbox01 .linkbox01_item .linkbox01_link.linkbox01_link-gray {
    border-right: 0px;
  }

  .linkbox01 .linkbox01_item:nth-child(odd) .linkbox01_link.linkbox01_link-gray  {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .linkbox01 .linkbox01_item:nth-child(even) .linkbox01_link.linkbox01_link-gray {
    background-color: rgba(226, 226, 226, 0.1);
  }
}

/* topicbox */
.topicbox {
}

.topicbox_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topicbox_item {
  width: 100%;
  height: 465px;
}

.topicbox_hover_text {
  opacity: 0;
  position: relative;
  width: 235px;
  margin: 15px auto 25px;
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0, 40px,0);
}

.topicbox_item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d4452;
  opacity: 0.1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topicbox_item .overlay.overlay-black {
  color: #191919;
  opacity: 0.15;
}

.topicbox_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.topicbox_link:hover {
  opacity: 1;
}

.topicbox_logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../images/common/topicbox_icon.svg);
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
}

.topicbox_more {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  width: 70px;
  color: #fff;
  margin: auto;
  text-align: center;
  font-family: 'Robot-Regular', sans-serif;
  font-size: 14px;
  padding-right: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0, 40px,0);
}

.topicbox.topicbox-text .topicbox_more {
  opacity: 0;
  top: 120px;
  bottom: 0;
}

.topicbox_link:hover .topicbox_more {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.topicbox_link:hover .topicbox_hover_text {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.topicbox_link:hover .overlay {
  opacity: 0.45;
}

.topicbox_link:hover .overlay.overlay-black {
  opacity: 0.3;
}

.topicbox_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 40px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topicbox_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 5px;
}

.topicbox_subtitle {
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 12px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topicbox_link:hover .topicbox_wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
  .topicbox_hover_text {
    width: 19.5vw;
    font-size: 1.1vw;
    line-height: 1.7vw;
  }

  .topicbox_logo {
    width: 6.6vw;
    height: 5.8vw;
  }

  .topicbox_more {
    bottom: 8.3vw;
    font-size: 1.1vw;
    padding-right: 1.6vw;
  }

  .topicbox_wrapper {
    height: 4vw;
  }

  .topicbox_title {
    font-size: 2.5vw;
  }

  .topicbox_subtitle {
    font-size: 1vw;
  }
}

@media only screen and (max-width:799px) {
  .topicbox_hover_text {
    display: none;
  }

  .topicbox_list {
    display: block;
  }

  .topicbox_item {
    width: 100%;
    height: 200px;
  }

  .topicbox_item.topicbox_item-wide {
    height: 250px;
  }

  .topicbox_wrapper {
    -webkit-transform: none;
            transform: none;
  }

  .topicbox_more {
    display: none;
  }

  .topicbox_title {
    font-size: 25px;
  }

  .topicbox_subtitle {
    opacity: 1;
    font-size: 14px;
  }
}


/* informationbox */
.informationbox {
  border: 10px solid #fff;
}

.informationbox_list {
  display: block;
}

.informationbox_item {
  width: 100%;
  height: 430px;
}

.informationbox_item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0080ab;
  opacity: 0.15;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.informationbox_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

a.informationbox_link {
  opacity: 1;
}

.informationbox_link:hover .wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.informationbox_link:hover .overlay {
  opacity: 0;
}

.informationbox_link:hover .informationbox_more {
  opacity: 1
}

.informationbox_link:hover .informationbox_text {
  opacity: 1
}

.informationbox_bg {
  position: absolute;
  width: 70%;
  height: 100%;
}

.informationbox_more {
  opacity: 0;
  position: relative;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.informationbox_more:before {
  top: 2px;
  left: 60px;
}

.informationbox_item .wrapper {
  position: absolute;
  left: 100px;
  top: 170px;
  width: 320px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0, 20px,0);
}

.informationbox_title {
  position: relative;
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.informationbox_subtitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'NotoSansJP-Bold', sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  white-space: nowrap;
}

.informationbox_subtitle:after {
  content: '';
  border-top: 1px solid #fff;
  width: 100%;
  margin-left: 10px;
}

.informationbox_text {
  opacity: 0;
  position: relative;
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.informationbox_item:nth-child(even) {
  background-color: #008ec8;
}

.informationbox_item:nth-child(even) .informationbox_bg {
  margin-right: 30%;
}

.informationbox_item:nth-child(even) .wrapper {
  left: 50%;
}

.informationbox_item:nth-child(odd) {
  background-color: #24907e;
}

.informationbox_item:nth-child(odd) .informationbox_link {
}

.informationbox_item:nth-child(odd) .informationbox_bg {
  margin-left: 30%;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .informationbox_item {
    display: block;
    height: 300px;
    margin-bottom: 10px;
  }

  .informationbox_item .overlay {
    display: none;
  }

  .informationbox_link {
    overflow: hidden;
    height: 300px;
  }

  .informationbox_bg {
    width: 100%;
    margin-top: 150px;
  }

  .informationbox_more {
    display: none;
  }

  .informationbox_item .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0, 0,0);
  }

  .informationbox_title {
    font-size: 25px;
  }

  .informationbox_text {
    opacity: 1;
    font-size: 11px;
    line-height: 16px;
  }

  .informationbox_item:nth-child(even) .informationbox_bg {
    margin-right: 0;
  }

  .informationbox_item:nth-child(even) .wrapper {
    left: auto;
  }

  .informationbox_item:nth-child(odd) .informationbox_link {
    padding-left: 0;
  }

  .informationbox_item:nth-child(odd) .informationbox_bg {
    margin-left: 0;
  }
}


/* linkbox02 */
.linkbox02 {
}

.linkbox02_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkbox02_item {
  width: 33.33333%;
  height: auto;
}

.linkbox02_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 10px 20px;
  background-color: #fff;
}

.linkbox02_title {
  position: relative;
  font-family: "Sawarabi Mincho", serif;
  font-size: 18px;
  color: #24907e;
  border-bottom: 1px solid #24907e;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 26px;
}

.linkbox02_title:before {
  right: 20px;
  border-color: transparent transparent transparent #24907e;
}

.linkbox02_text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #444444;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .linkbox02_list {
    display: block;
  }

  .linkbox02_item {
    width: 100%;
  }

  .linkbox02_item:nth-child(even) .linkbox02_link {
    background-color: rgb(250, 250, 250);
  }

  .linkbox02_title:before {
    right: 10px;
  }

  .linkbox02_text {
    padding-right: 80px;
  }
}


/* bgtopic */
.bgtopic {
}

.bgtopic .bgtopic_head {
  position: relative;
  display: block;
  width: 100%;
  height: 480px;
}

.bgtopic.bgtopic-04 .bgtopic_head {
  height: 160px;
}

.bgtopic .bgtopic_head:hover .bgtopic_more {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0, 0,0);
}

.bgtopic a.bgtopic_head:hover {
  opacity: 1;
}

.bgtopic a.bgtopic_head:hover .bgtopic_overlay {
  opacity: 0.2;
}

.bgtopic .bgtopic_head:hover .bgtopic_more {
  opacity: 1;
}

.bgtopic .bgtopic_head:hover .bgtopic_overlay-medium {
  width: 320px;
  height: 180px;
}

.bgtopic.bgtopic-03 a.bgtopic_head:hover .bgtopic_overlay {
  height: 100%;
  opacity: 0.9;
}

.bgtopic.bgtopic-03 a.bgtopic_head:hover .bgtopic_overlay-bg {
  opacity: 0;
}

.bgtopic.bgtopic-04 a.bgtopic_head:hover .bgtopic_overlay {
  width: 100%;
  opacity: 0.3;
  height: 160px;
}

.bgtopic.bgtopic-02 .bgtopic_head {
  height: 320px;
}

.bgtopic.bgtopic-02 .bgtopic_overlay {
  top: 0;
  width: 100%;
  height: 320px;
}

.bgtopic.bgtopic-03 .bgtopic_overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 320px;
  height: 230px;
  background-color: #0080ab;
  opacity: 0.9;
}

.bgtopic.bgtopic-03 .bgtopic_overlay-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #0080ab;
  opacity: 0.15;
}

.bgtopic.bgtopic-04 .bgtopic_overlay {
  top: 0;
  left: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0);
            transform: rotate(0);
}

.bgtopic .bgtopic_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 70px;
}

.bgtopic_overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  background-color: #000000;
  opacity: 0.1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bgtopic .bgtopic_logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../images/common/topicbox_icon.svg);
  width: 80px;
  height: 70px;
}

.bgtopic.bgtopic-04 .bgtopic_logo {
  display: none;
}

.bgtopic .bgtopic_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.bgtopic.bgtopic-04 .bgtopic_title {
  text-align: left;
  padding-left: 60px;
}

.bgtopic .bgtopic_text {
  font-family: "NotoSansJP-Bold", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.bgtopic.bgtopic-04 .bgtopic_text {
  text-align: left;
  padding-left: 60px;
}


.bgtopic .bgtopic_desc {
  width: 235px;
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.bgtopic_more {
  opacity: 0;
  position: relative;
  text-align: center;
  color: #fff;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 14px;
  width: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

.bgtopic.bgtopic-03 .bgtopic_more {
  margin-top: 20px;
}

.bgtopic.bgtopic-03 .bgtopic_logo {
  top: -10px;
}

.bgtopic.bgtopic-03 .bgtopic_wrapper .bgtopic_title {
  margin-bottom: 15px;
}

.bgtopic.bgtopic-03 .bgtopic_wrapper .bgtopic_text {
  margin-bottom: 15px;
}

.bgtopic.bgtopic-02 .bgtopic_more {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0, 40px,0);
}

.bgtopic.bgtopic-04 .bgtopic_more {
  margin-left: 30px;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .bgtopic .bgtopic_head {
    height: 200px;
    overflow: hidden;
    padding: 20px;
  }

  .bgtopic.bgtopic-02 .bgtopic_head {
    height: 200px;
  }

  .bgtopic .bgtopic_wrapper {
    top: auto;
    bottom: auto;
    height: auto;
  }

  .bgtopic_overlay {
    position: absolute;
    top: -100px;
    left: auto;
    right: -20%;
    display: block;
    width: 50vw;
    height: 100vw;
    background-color: #000000;
    opacity: 0.15;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  .bgtopic.bgtopic-02 .bgtopic_overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  .bgtopic.bgtopic-03 .bgtopic_overlay {
    height: 70%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  .bgtopic .bgtopic_logo {
    display: none;
  }

  .bgtopic.bgtopic-03 .bgtopic_logo {
    top: -30px;
    display: block;
  }

  .bgtopic .bgtopic_title {
    text-align: left;
  }

  .bgtopic .bgtopic_text {
    font-size: 11px;
    color: #fff;
    text-align: left;
    width: 250px;
    padding-left: 0;
  }

  .bgtopic.bgtopic-03 .bgtopic_wrapper {
    margin-top: 30px;
    left: 0;
  }

  .bgtopic.bgtopic-03 .bgtopic_wrapper .bgtopic_title {
    text-align: center;
    margin-bottom: 10px;
  }

  .bgtopic.bgtopic-04 .bgtopic_wrapper .bgtopic_title {
    font-size: 25px;
    padding-left: 0px;
  }

  .bgtopic.bgtopic-03 .bgtopic_wrapper .bgtopic_text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .bgtopic.bgtopic-04 .bgtopic_wrapper .bgtopic_text {
    font-size: 12px;
    padding-left: 0px;
  }

  .bgtopic_more {
    display: none;
  }
}

/* linkbox03 */
.linkbox03 {
  margin-bottom: 50px;
}

.linkbox03_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkbox03_item {
  width: 50%;
  padding: 50px;
}

.linkbox03_wrapper {
  position: relative;
  height: 45px;
  margin-bottom: 40px;
}

.linkbox03_icon {
}

.linkbox03_item:nth-child(1) .linkbox03_icon {
  width: 32px;
  height: 43px;
}

.linkbox03_item:nth-child(2) .linkbox03_icon {
  width: 43px;
  height: 33px;
  margin-top: 6px;
}

.linkbox03_title {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  display: inline-block;
  font-family: "Sawarabi Mincho", serif;
  font-size: 20px;
  color: #24907e;
  margin-left: 25px;
}

.linkbox03_text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 20px;
}

.linkbox03_link {
  position: relative;
  display: block;
  width: 280px;
  height: 53px;
  margin: 0 auto;
  background-color: #24907e;
  color: #fff;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 14px;
}

.linkbox03_link span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 14px;
  text-align: center;
}

.linkbox03_link span:before {
  right: 20px;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {

}

@media only screen and (max-width:799px) {
  .linkbox03 {
    margin-bottom: 0;
  }

  .linkbox03_list {
    display: block;;
  }

  .linkbox03_item {
    width: 100%;
    padding: 30px 30px 50px;
  }

  .linkbox03_item:nth-child(even) {
    background-color: rgb(250, 250, 250);
  }

  .linkbox03_item:nth-child(odd) {
    background-color: #fff;
  }

  .linkbox03_text {
    line-height: 16px;
  }

  .linkbox03_link {
    width: 225px;
    height: 48px;
  }
}

/* contact */
.contact {
  width: 100%;
}

.contact_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin: 0 auto;
  background-color: #24907e;
}

.contact_title {
  font-family: 'GildaDisplay-Regular', serif;
  font-size: 45px;
  color: #fff;
  margin-right: 20px;
  margin-top: 40px;
  letter-spacing: 0.1em;
}

.contact_wrapper {
  padding-left: 20px;
  height: 45px;
  border-left: 1px solid #fff;
  margin-top: 40px;
}

.contact_category {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.contact_text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 12px;
  color: #fff;
}

.contact_text.arrowmore:before {
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {

}

@media only screen and (max-width:799px) {
  .contact_link {
    display: block;
    width: 100%;
    height: 250px;
    padding-top: 40px;
    text-align: center;
  }

  .contact_title {
    display: inline-block;
    margin-right: 0;
    margin-top: 0;
    margin: 0 auto;
  }

  .contact_wrapper {
    padding-left: 0;
    padding-top: 35px;
    margin: 0 20px;
    border-left: 0;
    border-top: 1px solid #fff;
    margin-top: 40px;
  }

  .contact_text {
    font-size: 11px;
    line-height: 1.5;
  }

  .contact_text.arrowmore:before {
    display: none;
  }
}

/* interview */
.interview {
}

.interview .contents {
  position: relative;
  background-color: rgba(36, 144, 126, 0.85);
  padding: 50px 40px;
}

.interview .interview_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 29px;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 10px;
}

.interview .interview_text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 11px;
  color: #fff;
  margin-bottom: 70px;
}

.interview.interview-thin .interview_text {
  font-family: 'FjallaOne-Bold', sans-serif;
}

.interview .interview_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interview .interview_item .title {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.interview .interview_item {
  margin-right: 15px;
}

.interview .interview_item:nth-child(1) {
  width: 370px;
}

.interview.interview-thin .interview_item {
  width: 200px;
}

.interview.interview-thin .interview_item:nth-child(1) {
  width: 300px;
}

.interview .interview_item:last-child {
  margin-right: 0;
}

.interview .interview_item .address01 {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.interview.interview-thin .interview_item .address01 {
  font-size: 18px;
}

.interview .interview_item .address02 {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
}

.interview.interview-thin .interview_item .address02 {
  font-size: 18px;
}

.interview .interview_item .tel {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.1em;
}

.interview.interview-thin .interview_item .tel {
  font-size: 18px;
}

.interview .interview_form {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 280px;
  height: 53px;
}

.interview .interview_form a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 14px;
  color: #24907e;
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
}

.interview .interview_form a .arrowmore:before {
  right: 20px;
  border-color: transparent transparent transparent #24907e;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .interview .contents {
    padding: 40px 15px;
  }

  .interview .interview_title {
    font-size: 25px;
  }

  .interview .interview_text {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .interview .interview_list {
    display: block;
  }

  .interview .interview_item .title {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  .interview .interview_item {
    margin-right: 15px;
    width: 100%;
    margin-bottom: 20px;
  }

  .interview.interview-thin .interview_item {
    width: 100%;
  }

  .interview.interview-thin .interview_item:nth-child(1) {
    width: 100%;
  }

  .interview .interview_item .address01 {
    font-size: 18px;
  }

  .interview .interview_item .tel {
    font-size: 30px;
  }

  .interview .interview_form {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 53px;
  }

  .interview .interview_form a {
    padding: 20px 0;
  }
}

/* subjectbox */
.subjectbox {
  width: 100%;
}

.subjectbox-space {
  padding: 50px 25px;
  background-color: rgba(234, 234, 234, 0.9);
}

.subjectbox .subjectbox_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.subjectbox .subjectbox_item {
  position: relative;
  width: 25%;
  min-height: 300px;
}

.subjectbox .subjectbox_list.subjectbox_list-wide .subjectbox_item {
  height: auto;
}

.subjectbox .subjectbox_item:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.subjectbox .subjectbox_item:nth-child(even) {
  background-color: rgba(226, 226, 226, 0.2);
}

.subjectbox.subjectbox-space .subjectbox_list .subjectbox_item:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.subjectbox .subjectbox_head {
  display: table;
  width: 100%;
  height: 150px;
  padding: 0 30px;
}

.subjectbox .subjectbox_head.subjectbox_head-thin {
  height: 130px;
}

.subjectbox .subjectbox_head .wrapper {
  display: table-cell;
  vertical-align: middle;
}

.subjectbox .subjectbox_en {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.subjectbox .subjectbox_ja {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.subjectbox .subject_list {
  width: 100%;
  height: 150px;
  padding: 10px 0 10px 30px;
}

.subjectbox .subject_item {
  position: relative;
  margin-bottom: 5px;
}

.subjectbox .subject_item a {
  position: relative;
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 12px;
  color: #000;
}

.subjectbox .subject_item a:after {
  position: absolute;
  content: '';
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.subjectbox .subject_item a:hover {
  color: #24907e;
}

.subjectbox .subject_item a:hover:after {
  border-top: 1px solid #24907e;
  border-right: 1px solid #24907e;
}

.subjectbox .wrapper {
  padding: 15px 15px 40px;
}

.subjectbox .wrapper .title {
  font-family: "Sawarabi Mincho", serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
}

.subjectbox .wrapper .text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 18px;
}

.subjectbox .wrapper .arrowmore {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  color: #000;
}

.subjectbox .wrapper .arrowmore:before {
  right: -15px;
  border-color: transparent transparent transparent #000;
}

.subjectbox .wrapper.wrapper-green .title {
  margin-bottom: 10px;
}

.subjectbox .wrapper.wrapper-green .subject_list {
  height: auto;
}

.subjectbox .wrapper.wrapper-green .subject_item a {
  -webkit-transition: none;
  transition: none;
  color: #22907E;
}

.subjectbox .wrapper.wrapper-green .subject_item a:hover {
  color: #22907E;
}

.subjectbox .wrapper.wrapper-green .subject_item a:after {
  border-top-color: #22907E;
  border-right-color: #22907E;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .subjectbox-space {
    padding: 50px 15px;
    background-color: rgba(234, 234, 234, 0.9);
  }

  .subjectbox .subjectbox_list {
    display: block;
  }

  .subjectbox .subjectbox_item {
    width: 100%;
    height: auto;
  }

  .subjectbox .subjectbox_list.subjectbox_list-wide .subjectbox_item {
    height: auto;
  }

  .subjectbox .subjectbox_list.subjectbox_list-wide  .wrapper .text {
    margin-bottom: 35px;
  }

  .subjectbox .subjectbox_en {
    font-size: 16px;
    line-height: 19px;
  }

  .subjectbox .subject_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px 0 10px 25px;
  }

  .subjectbox.subjectbox-space .subject_list {
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .subjectbox.subjectbox-space .wrapper.wrapper-green .title {
    margin-bottom: 0;
  }

  .subjectbox .subject_item {
    width: 50%;
    height: 18px;
  }

  .subjectbox .subject_item a {
    font-size: 11px;
  }
}

/* coursesbox */
.coursesbox {
  background: #ccb605;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ccb605), to(#d3c345));

  background: linear-gradient(to bottom, #ccb605 1%, #d3c345 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb605', endColorstr='#d3c345', GradientType=0);
  /* IE6-9 */
  padding-bottom: 50px;
}

.coursesbox .title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 29px;
  letter-spacing: 0.05em;
  color: #000;
  padding-top: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.coursesbox .subtitle {
  font-family: "NotoSansJP-Bold", sans-serif;
  font-size: 11px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.coursesbox .text {
  width: 630px;
  margin: 0 auto;
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  margin-bottom: 35px;
}

.coursesbox .coursesbox_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 50px;
}

.coursesbox .coursesbox_item {
  position: relative;
  width: 100%;
  height: 300px;
  margin-right: 10px;
  background-color: #fff;
  content: '';
  width: 100%;
  height: 300px;
  padding: 40px 15px 60px;
  overflow: hidden;
  background-image: url(../images/campuslife/coursebox_bg01.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.coursesbox .coursesbox_item a {
  display: block;
  width: 100%;
  height: 100%;
}

.coursesbox .coursesbox_item:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 30px;
  background-image: url(../images/campuslife/coursebox_bg02.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.coursesbox .coursesbox_item:last-child {
  margin-right: 0;
}

.coursesbox .coursesbox_date {
  font-family: "NotoSansJP-Bold", sans-serif;
  font-size: 12px;
  color: #000;
  margin-bottom: 15px;
}

.coursesbox .coursesbox_title {
  font-family: "Sawarabi Mincho", serif;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.coursesbox .coursesbox_text {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 11px;
  line-height: 22px;
  color: #000;
  height: 135px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.coursesbox .coursesbox_more {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 14px;
  color: #000;
}

.coursesbox .coursesbox_item a:hover .coursesbox_more {
  color: #24907e;
}

.coursesbox .coursesbox_item a:hover .coursesbox_more:before {
  border-color: transparent transparent transparent #24907e;
}

.coursesbox .coursesbox_more.arrowmore:before {
  right: -15px;
  border-color: transparent transparent transparent #000;
}

.coursesbox .coursesbox_bottomBtn {
  position: relative;
  display: block;
  width: 280px;
  margin: 0 auto;
  border: 1px solid #606060;
  padding: 20px 0;
  text-align: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  color: #000;
}

.coursesbox .coursesbox_bottomBtn.arrowmore:before {
  right: 20px;
  border-color: transparent transparent transparent #000;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .coursesbox .title {
    font-size: 25px;
    padding-top: 40px;
  }

  .coursesbox .text {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  .coursesbox .coursesbox_list {
    display: block;
    padding: 0 15px 20px;
  }

  .coursesbox .coursesbox_item {
    height: 230px;
    content: '';
    width: 100%;
    padding: 30px 15px;
    margin-bottom: 15px;
  }

  .coursesbox .coursesbox_more {
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.1em;
  }

  .coursesbox .coursesbox_more:hover {
    color: #24907e;
  }

  .coursesbox .coursesbox_more.arrowmore:hover:before {
    border-color: transparent transparent transparent #24907e;
  }

  .coursesbox .coursesbox_more.arrowmore:before {
    right: -15px;
    border-color: transparent transparent transparent #000;
  }
}

/* historybox */
.historybox {
  position: relative;
  height: 465px;
}

.historybox .historybox_link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.historybox a.historybox_link:hover {
  opacity: 1;
}

.historybox .historybox_link:hover + .hoverbox {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.historybox .historybox_link:hover .overlay {
  opacity: 0.9;
}

.historybox_header {
  position: relative;
  margin: 0 auto 50px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.historybox_logo {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../images/common/topicbox_icon.svg);
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
}

.historybox_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 5px;
}

.historybox_subtitle {
  font-family: 'NotoSansJP-Regular', sans-serif;
  font-size: 12px;
  color: #fff;
}

.historybox .number_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.historybox .number_list span {
  display:inline-block;
  padding-top: 150px;
}

.historybox .number_item {
  width: 100%;
  font-family: 'Baskerville',  serif;
  font-size: 280px;
  color: #fff;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.historybox .number_item:last-child {
  border-right: 0px;
}

.historybox .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A3A3A;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.historybox .hoverbox {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  width: 630px;
  height: 120px;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0, 40px,0);
}

.historybox .hoverbox_text {
  width: 100%;
  font-family: 'NotoSansJP-Medium', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 20px;
}

.historybox .hoverbox .arrowmore {
  position: absolute;
  right: 30px;
  bottom: 0;
  color: #fff;
}

.historybox .hoverbox .arrowmore:before {
  right: -30px;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .historybox {
    height: 250px;
  }

  .historybox .number_list span {
    padding-top: 120px;
  }

  .historybox .number_item {
    font-size: 112px;
  }

  .historybox .hoverbox {
    display: none;
  }

  .historybox .overlay {
    display: none;
  }

  .historybox_title {
    font-size: 25px;
  }

  .historybox_subtitle {
    opacity: 1;
    font-size: 14px;
  }
}

/* contentsbox */
.contentsbox {
  position: relative;
}

.contentsbox .contentsbox_bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contentsbox .contentsbox_video {
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-top: 10px solid #333333;
  border-bottom: 10px solid #333333;
}

.contentsbox .contentsbox_video video {
  width: 100%;
}

.contentsbox .float {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentsbox .overlay {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contentsbox .overlay.overlay-green {
  background-color: #24907E;
  opacity: 0.8;
}

.contentsbox .contentsbox_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.contentsbox .overlay02 {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-color: #24907E;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contentsbox a.contentsbox_link:hover {
  opacity: 1;
}

.contentsbox a.contentsbox_link:hover .overlay {
  opacity: 0.5;
}

.contentsbox a.contentsbox_link:hover .overlay02 {
  height: 100%;
}

.contentsbox a.contentsbox_link:hover .arrowmore {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0, 0,0);
}

.contentsbox .wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  display: block;
  width: 400px;
  margin-right: 80px;
  padding-top: 170px;
  padding-left: 100px;
}

.contentsbox .wrapper .title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 5px;
}

.contentsbox .wrapper .subtitle {
  font-family: 'NotoSansJP-Bold', sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}

.contentsbox .wrapper .text {
  font-family: 'NotoSansJP-Medium', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 20px;
}

.contentsbox .wrapper .arrowmore {
  opacity: 0;
  position: absolute;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0, 40px,0);
}

.contentsbox .wrapper .arrowmore:before {
  right: -30px;
}

.contentsbox .img {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 50px 0;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .contentsbox .wrapper {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: relative;
    display: block;
    width: auto;
    margin-right: 15px;
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 15px;
  }

  .contentsbox .wrapper .title {
    font-size: 25px;
  }

  .contentsbox .wrapper .subtitle {
    margin-bottom: 25px;
  }

  .contentsbox .wrapper .text {
    margin-bottom: 0;
  }

  .contentsbox .wrapper .arrowmore {
    display: none;
  }

  .contentsbox .img {
    width: 130px;
    height: 185px;
    margin: 35px 0;
    margin-right: 15px;
  }
}

/* programbox */
.programbox {
  position: relative;
}

.programbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24907E;
  opacity: 0.9;
}

.programbox .programbox_inner {
  position: relative;
  width: 830px;
  margin: 0 auto;
  padding: 100px 0 90px;
  text-align: center;
}

.programbox .title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.programbox .text {
  font-family: 'NotoSansJP-Medium', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  width: 400px;
  margin: 0 auto 35px;
}

.programbox .programbox_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.programbox .programbox_item {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.programbox .programbox_item:nth-child(3n) {
  margin-right: 0;
}

.programbox .programbox_link {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'NotoSansJP-Bold', sans-serif;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 20px 0;
}

.programbox .arrowmore {
}

.programbox .arrowmore:before {
  right: 30px;
}

@media only screen and (max-width:799px) {
  .programbox .programbox_inner {
    width: 100%;
    padding: 45px 10px;
  }

  .programbox .title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .programbox .text {
    width: 300px;
  }

  .programbox .programbox_list {
    padding: 0 40px;
  }

  .programbox .programbox_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .programbox .programbox_link {
    text-align: left;
    padding-left: 25px;
  }
}

/* spbox */
.spbox {
  position: relative;
}

.spbox .spbox_wrapper {
  position: absolute;
  top: 60px;
  margin: auto;
  width: 100%;
  height: 40px;
}

.spbox .spbox_logo {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../images/common/topicbox_icon.svg);
  width: 80px;
  height: 70px;
}

.spbox .spbox_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.spbox .spbox_text {
  font-family: "NotoSansJP-Bold", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.spbox .spbox_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
}

.spbox .spbox_item {
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.spbox .spbox_item:last-child {
  border: 0;
}

.spbox .spbox_item .title {
margin-top: 180px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.spbox .spbox_item .line {
  color: #fff;
  margin-bottom: 20px;
}

.spbox .spbox_item .num {
  font-family: 'Baskerville',  serif;
  font-size: 100px;
  color: #fff;
}

.spbox .datebox {
  position: absolute;
  right: 30px;
  bottom: 20px;
  text-align: right;
}

.spbox .datebox .date01 {
  position: relative;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.spbox .datebox .date01:before {
  content: '';
  border-top: 1px solid #fff;
  margin-right: 5px;
  width: 100%;
}

.spbox .datebox .date02 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 12px;
  color: #fff;
}

@media print, screen and (min-width:800px) and (max-width:1200px) {
}

@media only screen and (max-width:799px) {
  .spbox .spbox_wrapper {
    position: relative;
    display: block;
    top: 0;
    right: auto;
    left: auto;
    width: 100%;
    height: 80px;
    text-align: left;
    padding: 20px;
  }

  .spbox .spbox_logo {
    display: none;
  }

  .spbox .spbox_title {
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
  }

  .spbox .spbox_text {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: left;
  }

  .spbox .spbox_list {
    display: block;
    height: auto;
  }

  .spbox .spbox_item {
    position: relative;
    width: 100%;
    border-right: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    height: 120px;
    padding: 20px;
  }

  .spbox .spbox_item:first-child {
    border-top: 1px solid #fff;
  }

  .spbox .spbox_item:last-child {
    border: 0;
  }

  .spbox .spbox_item .title {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 12px;
    height: 12px;
  }

  .spbox .spbox_item .line {
    display: none;
  }

  .spbox .spbox_item .num {
    font-size: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    height: 60px;
  }

  .spbox .datebox {
    position: absolute;
    right: 30px;
    top: 30px;
    bottom: auto;
  }

  .spbox .datebox .date01 {
    position: relative;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 10px;
    color: #fff;
    display: inline;
  }

  .spbox .datebox .date01:before {
    display: none;
  }

  .spbox .datebox .date02 {
    display: inline;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
    color: #fff;
  }
}

/* numTable */
.numTable {
  position: relative;
  padding-top: 200px;
}

.numTable .numTable_wrapper {
  position: absolute;
  top: 100px;
  margin: auto;
  width: 100%;
  height: 40px;
}

.numTable .numTable_logo {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../images/common/topicbox_icon.svg);
  width: 80px;
  height: 70px;
}

.numTable .numTable_title {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.numTable .numTable_text {
  font-family: "NotoSansJP-Bold", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.numTable .numTable_body {
  width: 100%;
}

.numTable .numTable_item {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  padding-left: 80px;
  height: 120px;
}

.numTable .numTable_item a {
  display: block;
  width: 100%;
  height: 100%;
}

.numTable .numTable_num {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline;
  font-family: 'Baskerville',  serif;
  font-size: 100px;
  height: 100px;
  color: #fff;
}

.numTable .numTable_content {
  width: 88%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline;
  font-family: 'GildaDisplay-Regular', serif;
  font-size: 22px;
  height: 22px;
  color: #fff;
  padding-left: 80px;
  padding-right: 50px;
}

.numTable .arrowmore:before {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@media only screen and (max-width:799px) {
  .numTable {
    padding-top: 0px;
  }

  .numTable .numTable_wrapper {
    position: relative;
    display: block;
    top: 0;
    right: auto;
    left: auto;
    width: 100%;
    height: 80px;
    text-align: left;
    padding: 20px;
  }

  .numTable .numTable_logo {
    display: none;
  }

  .numTable .numTable_title {
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
  }

  .numTable .numTable_text {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: left;
  }

  .numTable .numTable_body {
    width: 100%;
  }

  .numTable .numTable_item {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    padding-left: 25px;
    height: 120px;
  }

  .numTable .numTable_item a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .numTable .numTable_num {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline;
    font-family: 'Baskerville',  serif;
    font-size: 60px;
    height: 60px;
    color: #fff;
  }

  .numTable .numTable_content {
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline;
    font-family: 'GildaDisplay-Regular', serif;
    font-size: 13px;
    line-height: 21px;
    height: 40px;
    color: #fff;
    padding-left: 60px;
    padding-right: 20px;
  }

  .numTable .arrowmore:before {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
