@charset "utf-8";
/* 印刷用レイアウト */
@media print{
body{
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	width: 1200px;
	transform: scale(0.8);
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform-origin: 0 0;
}
#header{
  position: relative;
}
main{
	margin-top: 0 !important;
}
p{
	display: table;
	word-break: break-all;/*Chromeのみのため*/
}

#btntop{
	display: none;
}
.kv.kv-top{
	height: 300px;
}
.kv.kv-top .kv_text{
    opacity: 1;
}
.kv.kv-top .kv_title{
    opacity: 1;
}
.kv.kv-top .kv_icon svg #path01, .kv.kv-top .kv_icon svg #path02, .kv.kv-top .kv_icon svg #path03, .kv.kv-top .kv_icon svg #path04 {
    opacity: 1;
}
.peoplebox_image{
	display: block;
}
.peoplebox .border{
	width: 100%;
	display: none;
}
.peoplebox .peoplebox_item .peopleinfo03 .name {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}
#category-nav{
	display: none;
}
.newsbox .newsbox_item .text span {
    opacity: 1;
    max-width: 100%;
}
.sidebar{
  top: 175px!important;
}

#mv2 .parabox2_1 .parabox2_image{
	float: left;
	width: 200px;
}
#mv2 .parabox2_2 .parabox2_image{
	float: right;
	width: 200px;
}
#mv2 .parabox2_1 .parabox2_image{
	float: left;
	width: 200px;
}
#mv2 .tablebox_image{
	float: left;
	width: 200px;
}
#mv2 .tablebox_text {
    float: right;
    width: calc(100% - 310px);
		padding: 0;
}
#mv2 .tablebox {
    padding: 15px 35px;
}
.split{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 100px 330px;
	background-repeat: no-repeat;
}
.split_contents{
	width: 90%;
	margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 60px;
}
.split-left .split_image{
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 50px;
}
#subjects .numberbox_vol{
	font-size: 50px;
}
#subjects .numberbox_title{
	font-size: 18px;
}
#subjects .menubox_item a{
	font-size: 12px;
	padding: 10px 40px 10px 6px;
}
.programbox .programbox_inner{
 width: 100%;
}
.programbox .programbox_list{
	margin: 0 auto;
	width: 90%;
}
.programbox .programbox_item{
	margin-left: 10px;
	margin-right: 0;
}
.contact_title{
	width: 30%;
	font-size: 30px;
}
.contact_wrapper{
	width: 50%;
}
@page {
  margin: 5mm;
}
.print:last-child {
     page-break-after: auto;
}
}
